h1{
    color: gray;
}
img{
    height: 100px;
}
.NavBar{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    width: 100%;
    background-color: aquamarine;
}

a{
    text-decoration: none;
    padding: 2px;
    margin: 2px;
}

svg{
    margin: 10px;
}

.main{
    height: 800px;
}


.ItemListContainer h2{
    text-align: center;
}